<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ipleiria.project.add">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.items.ItemsActivity"
            android:label="@string/share_activity_label"
            android:parentActivityName=".view.main.MainActivity"
            android:theme="@style/AppTheme.OverlapSystemBar"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".view.main.MainActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity" />
        </activity>
        <activity
            android:name=".view.GoogleSignInActivity"
            android:label="@string/google_activity_title"
            android:parentActivityName=".view.settings.SettingsActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".view.add_edit_item.AddEditActivity"
            android:label="Add Item"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".view.items.ItemsActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.items.ItemsActivity" />
        </activity>


        <activity android:name=".MainActivity"></activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-glwb2lyyikpo7de" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".meocloud.MEOAuth"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ipleiria.project.add"
                    android:path="/oauth2redirect"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SelectCategoryActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ipleiria.project.add.store"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".utils.MyProvider"
            android:authorities="ipleiria.project.add"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

    </application>

</manifest>